

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
	height:100%;
}

body{
	background-color:black;
	color: white;
	font-size: 20px;
}

#an-interesting-fact {
	padding-top: 20px;
}














